@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }

 /*google font */
 @theme{
  /* heading */
  --font-primary:"Poppins", sans-serif;
  /* body text */
  --font-secondary:"Inter", sans-serif;
 }

 @plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* --color-primary: #0F172A; */
  --color-primary: #2B2D42;
  --color-secondary: #22C55E;
  /* dark white color */
   --color-secondary-content:#F8FAFC;
   /* pure white  */
   --color-neutral:#FFFFFF;
   /* text color */
   --color-accent:#0B0F19;
   /* light text color */
   --color-base-300:#374151;
   /* background color */
   --color-base-100:#FAFAFA;
}

 body{
  font-family: "Inter", sans-serif;
  color: #0B0F19;
  /* background-color: #FAFAFA; */
  background-color: #F4F4F5;

 }